aside {
    position: fixed;
    top: 0;
    right: -190px;
    width: 190px;
    height: 100%;
    padding-top: 123px;
    background-color: #e4e8ea;
    text-align: center;
    @include transition-property(right);
    @include transition-duration(400ms);
    &.show {
        right: 0;
    }
    img {
        @include user-select (none);
    }
    .menu-sidebar {
        margin-top: 64px;
        ul { 
            font-family: "Open-Sans", sans-serif;
            font-weight: normal;
            font-size: 12px;
            text-transform: uppercase;
            li {
                &::after {
                    display: block;
                    width: 30px;
                    height: 1px;
                    background-color: #a4a6a8;
                    margin:25px auto 27px;
                    content: "";
                } 
                &:last-child {
                    &::after {
                        display: none;
                    }
                }  
                a {
                    text-decoration: none;
                    color:#757575;
                    &:hover {
                        color: #383838; 
                    }
                } 
                sup {
                    vertical-align: super;
                    font-size: smaller;
                }
            }
        }
    }
    .mail {
        display: inline-block;
        width: 56px;
        height: 56px;
        margin:83px auto 0px;
        background-color:#3a3a3a;
        background-image: url("../../../client/images/sidebar/mail.png");
        background-repeat:no-repeat;
        background-position:center;
        @include border-radius(50%); 
        @include transition-property (background);
        @include transition-duration (400ms);
        &:hover {
            background-color: #757575;
        }   
    }
} 