body {
	position:relative;
	&.homepage {
		overflow-x: hidden;
		h2 {
			font-family: 'Open Sans',sans-serif;
			font-weight: lighter;
			font-size: 35px;
			line-height: 38px;
			text-transform: uppercase;
			color: #363636;
		}
		h5 {
			font-family: Georgia;
			font-style: italic;
			font-size: 14px;
			line-height: 15px;
			color: #8a8a8a;
		}
		main {
			border-bottom:1px solid #e1e1e1;
			.background {
				background-image: url(../../images/background.png);
				background-repeat: no-repeat;
			}
		}	
		.content-wrapper {
			font-size: 0px;
			text-align: center;
			.content {
				display: inline-block;	
				.container {
					width: 902px;
					margin:0 auto;
				}				
			}
			.clearfix {
				&::after {
					display: table;
					clear: both;
					content: "";
				}
			}	
		}			
	}
}