.greeting {
	position: relative;
	width: 100%;
	padding-top: 83px;
	padding-bottom:91px;
	background-image: url(../../../client/images/greeting/background.jpg);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align:center;
	color: #ffffff;
	@include box-sizing (border-box);
	.logo {
		position: relative;
		width: 256px;
		height: 116px;
		margin:auto;
		background-image:url(../../../client/images/greeting/Selly.png);
		background-repeat: no-repeat;
		@include user-select (none);
		   &::after {
			position: absolute;
			display: block;
			content:url(../../../client/images/greeting/shadow.png);
		}   
	}
	h1 {
		margin-top: 47px;
		font-family: 'Open Sans', sans-serif;
		font-weight: lighter;
		font-size: 48px;
		line-height: 60px;
		text-align: center;
		b {
			font-weight:bold;
		}
	}
	p {
		margin-top: 31px;
		font-family: 'Open Sans', sans-serif;
		font-weight: lighter;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
	}
	.button-suggest {
		margin-top: 110px;
		margin-bottom: 113px;
		font-size: 0;
		font-family: 'Open Sans', sans-serif;
		font-weight:normal;
		text-align: center;
		text-transform: uppercase;
		@include user-select (none);
		li {
			display: inline-block;
			height: 72px;
			font-size: 16px;
			line-height: 72px;
			vertical-align:bottom;
			cursor: pointer;
			@include box-sizing (border-box);
			@include transition-property (all);
			@include transition-duration (400ms);
			&:first-child {
				width: 230px;
				background-color: #16a085;
				@include border-radius (5px);
				@include box-shadow (0 -3px 0 #3bd4b6 inset);
				&:hover {
					background-color: #19b596;
				}
			}
			&:last-child {
				width: 226px;
				margin-left: 30px;
				border: 2px solid #ffffff;
				background-color: rgba(#141d25,0.5);
				vertical-align:bottom;
				@include border-radius (5px);
				&:hover {
					background-color: #141d25;
				}
			}
			a {
				text-decoration: none;
				color: #ffffff;
			}	
		}
	}
	.arrow-white {
		position:relative;
		display: inline-block;
		width: 45px;
		height: 45px;
		border: 2px solid #ffffff;
		@include border-radius (50%);
		@include box-sizing (border-box);
		@include transition-property (all);
		@include transition-duration (400ms);
		&:hover {
			background-color: rgba(#141d25,0.5);   
		}
		&::before {
			position:absolute;
			top: 21px;
			left: 11px;
			display: block;
			width: 12px;
			height: 3px;
			background-color: #ffffff;
			content: "";
			@include transform (rotate(45deg));
			@include border-radius (50px 0 0 50px);
		}
		&::after {
			position:absolute;
			top: 21px;
			right: 11px;
			display: block;
			width: 12px;
			height: 3px;
			background-color: #ffffff;
			content: "";
			@include transform (rotate(-45deg));
			@include border-radius (0 50px 50px 0px);
		} 
	}
}